:root {
  --blue: #1976d2;
  --white: #ffffff;
}



/* Navbar style */
.nav-div {
  height: 50px;
  margin-left: 220px;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px;
}

/* dashboard style  */
.ttslogo {
  width: 60%;
  margin: -10px 0 0 30px;
}

.tts_logo_bg {
  background: white !important;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  /* padding-top: 20px; */

}

.sidenav a {
  padding: 9px 14px 9px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  font-weight: 700;
  transition: 0.5s ease;
}

.sidenav a:hover {
  color: black;
  background: white;
}

.main {
  margin: 15px 0 0 230px;
  /* Same as the width of the sidenav */
  font-size: 18px;
  /* Increased text to enable scrolling */
  padding: 0px 5px;
}


.balance {
  display: flex;
  width: 100%;
  box-shadow: 0px 0.5px 170px rgb(81 114 127 / 94%);
  border-radius: 55px;
}

.balance .total {
  flex: 50%;
  padding: 10px;
  display: flex;
}

.balance .today {
  flex: 50%;
  padding: 10px;
  display: flex;
}

.today-title,
.total-title {
  font-size: 17px;
  padding: 5px;
  margin-left: 35px;
}

.today-amount,
.total-amount {
  font-size: 30px;
  color: green;
  margin-left: 55px;
  font-weight: bold;
}

.today-ul,
.child-ul-today-detail {
  list-style-type: none;
  display: flex;
}

.today-ul-li,
.total-ul-li {
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.child-ul-li-today-detail {
  margin-top: 20px;
}

.total-ul {
  list-style-type: none;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.main-content {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}

.main-content-child {
  flex: 50%;
  margin: 2px;
  padding: 5px;
}

.main-content-child1 {
  height: 450px;
  overflow: auto;
}

/* Hide the scrollbar */
.main-content-child1::-webkit-scrollbar {
  width: 0.1em;
  /* Width of the invisible scrollbar */
}

.main-content-child1::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Hide the thumb */
}

.sale-drop-hide {
  /* display:none; */
  margin: 3px;
}

;

.drop-ul .li {
  padding: 2px;
  font-size: 13px;
  font-weight: bolder;
}


@media (min-width: 600px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}




/* sale-invoice style  */
.sale-content-parentdiv {
  height: 88vh;
  margin: 10px 10px 0 230px;
  padding: 0;
  background: rgb(247, 245, 245);
  overflow: hidden;
}

.back-div {
  width: 100%;
  overflow: hidden;
  background: rgb(223, 215, 215);
  font-size: 25px;
  padding-left: 20px;
  font-weight: 900;
  height: 40px;
  border-radius: 30px;
  line-height: 1.3;
}

.back-div .back:hover {
  cursor: pointer;
  color: green;
  line-height: 0.2;
}

.back-div .back-div-add-item-sec {
  text-align: center;
  margin-right: 20px;
  float: right;
  font-size: 15px;
  line-height: 2.4;
  font-weight: 600;
}

.back-div .back-div-add-item-sec:hover {
  color: #1976d2;
}

.item-section {
  display: flex;
  gap: 15px;
  overflow: hidden;
}

.lable-txt {
  font-size: 13px;
}

.item-section input,
input {
  height: 25px;
}

.item-section input:focus {
  outline: none;
  border: 1px solid green;
}

.tag {
  width: 80px;
}

.name {
  width: 200px;
}

.quantity {
  width: 80px;
}

.sale-price,
.purchase-price {
  width: 80px;
}

.disc {
  width: 50px;
}

.gst {
  width: 50px;
}

.amount {
  width: 100px;
}

.ruppe-div {
  float: left;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: var(--blue);
  color: white;
}

.percent-div {
  float: right;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: var(--blue);
  color: white;
}

.add-btn {
  width: 90px;
  float: right;
  margin-right: 135px;
}

.add-btn-parent {
  display: block;
}

.space-div {
  height: 50px;
  display: block;
}


/* table  */
.table-info {
  font-weight: 300;
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.table td {
  font-size: 13px;
}

.item-list-parent {
  height: 180px;
  overflow-y: auto;
  border: 1px solid black;
}

.sale-invoice-footer {
  display: flex;
  padding: 10px;
  overflow: hidden;

}

.payment {
  flex: 75%;
}

.print-save {
  flex: 25%;
}

.invoice-no {
  width: 60px;
}

select {
  font-size: 13px;
  height: 25px;
}

.user-info {
  display: flex;
}

.print-show {
  display: none;
  margin: 20px 10px;
}

.shop-details {
  flex: 75%;
}

.customer-details {
  flex: 25%;
}

.print-shop-logo {
  width: 50px;
  height: auto;
}

.name-head {
  width: 250px;
}

.sale-details {
  display: none;
}


.item-list {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin: 10px;
  padding: 20px;
}

.price-details,
.product-details {
  flex: 50%;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 3px black;
}

label.additem-label {
  width: 150px;
  margin: 20px 0 0 20px;
}

h6.product-heading {
  margin: 20px 0 0 20px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(7, 43, 43);
}

.sub-total-shelter {
  padding-right: 70px;
  color: var(--blue);
  font-weight: bolder;
}

.sub-total {
  padding-right: 70px;
  font-size: 12px;
}

.calc-amount-txt {
  width: 90px;
  margin-top: 10px;
}

.disable {
  cursor: none;
}

.login-signup {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.login-update-user-detail {
  margin: 10px 10px 0 230px;
  height: 85vh;
}

.form-outline input {
  height: 35px;
}

.container-login {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
}

.container-user-detail {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  background: rgb(247, 245, 245);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px gray;
}

.user-detail-div {
  flex: 50%;
  padding: 10px;
  margin: 10px;
  white-space: normal;
  /* Allow wrapping of white space */
  overflow-wrap: break-word;
}

.address {
  white-space: normal;
  /* Allow wrapping of white space */
  overflow-wrap: break-word;
}

.detail-div {
  width: 30%;
}

.user-n {
  width: 50%;
}

.user-child-div {

  width: 50%;
  margin: 20px auto;
}

.back-n {
  margin-left: 230px;
}

.history-text-size {
  font-size: 11px;
  font-weight: bold;
}

.history-text-size-search {
  font-size: 13px;
  font-weight: bold;
}

.history-text {
  font-weight: bold;
  color: #1d3146;
}

// search component style
.searchinput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.searchinput-date {
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 5px;
}

.search-input {
  width: 100%;
  margin-left: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid rebeccapurple;
}

.scrollable-div {
  height: 450px;
  overflow: auto;
}

/* Hide the scrollbar */
.scrollable-div::-webkit-scrollbar {
  width: 0.1em;
  /* Width of the invisible scrollbar */
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Hide the thumb */
}

.sale-bottom-discount-pannel {
  width: 150px;
}

// login page style
.login-container {
  width: 50%;
  margin-top: 100px;
}

.forgot-password-col {
  text-align: end;
}

.forgot-password:hover {
  text-decoration: underline;
  color: var(--blue) !important;
}

.login-signup-router:hover {
  text-decoration: underline;
  color: green !important;
}

.login-signup-btn {
  width: 300px;
}







/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 390px;
  position: relative;
  margin: auto;
  overflow: hidden;
  /* Ensure the images are contained within the container */
  display: flex;
  /* Display slides in a row */
  transition: transform 0.8s ease;
  /* Adjust the duration for the sliding effect */
}


/* Individual Slide Content */
.mySlides {
  flex: 0 0 100%;
  /* Set the width of each slide to 100% of the container */
}


.active {
  background-color: #717171;
}

/* Image styles */
.mySlides img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* Adjust how the image is fitted within the container */
}



// logout btn 
.logout:hover {
  color: green !important;
  text-decoration: underline;
}


.store_search {
  width: 200px;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
}

.store_searchbtn {
  line-height: 1;
  margin-top: -2px;
  margin-right: 20px;
}





// auto suggest item list style
.result_item {
  position: absolute;
  z-index: 11;
  width: 200px;
}

//for spinner div
.spinner {
  align-items: center;
  margin-top: 200px;
}

.picture-container {
  position: relative;
  text-align: center;
}

.picture {
  width: 129px;
  height: 129px;
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  cursor: pointer;
}

.picture:hover {
  border-color: #2ca8ff;
}

.content.ct-wizard-green .picture:hover {
  border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
  border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
  border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
  border-color: #ff3b30;
}

.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* printPage setup  */
@media print {

  body,
  *,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
  }

  .sidenav-print-hide,
  .navbar-print-hide,
  .user-info,
  .item-section,
  .back-div,
  .add-btn,
  .sale-invoice-footer,
  .sale_invoice_cut_item,
  .Toastify {
    display: none;
  }

  .print-show,
  .sale-details {
    display: block;
    margin: 0;
    padding: 0;
  }

  .sale-content-parentdiv {
    margin: 0px;
    padding: 0;
  }

  body {
    color: black;
  }

  .name-head {
    width: 150px;
    margin: 0;
    padding: 0;
  }

  .item-list-parent {
    height: 400px;
    overflow: visible;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
  }

  .shop-name {
    font-weight: bolder;
  }

  .print-detail {
    padding: 10px;
    flex: 50%;
  }

  .space-div {
    height: 0px;
    display: none;
  }

  .inv-txt {
    font-size: 14px;
    font-weight: bolder;
  }

  .sale-texts {
    right: 10px;
  }

  .saleDetails {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .totalPrice {
    font-weight: bolder;
    font-size: 13px;
  }

  .tbody-txt>td,
  td,
  .tbody-txt {
    font-size: 9px;
  }

  .print-logo {
    width: 50px;
    height: 50px;
  }

}